$border-logo: 50%;
$border-button: 1rem;
$border-badge: 0.3rem;
$primary: #353233;
$primary-hover: #e76381;
$primary-active: #cf275f;
$primary-focus: #cf275f;
$hover-link: #4a4748;
$bg-badge: #f07e9882;
