.header-proyects {
  height: 50vh;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-proyects {
  font-size: 4rem; /* Tamaño grande para pantallas grandes */
}

@media (max-width: 768px) {
  .header-proyects {
    height: 40vh;
  }

  .header-title {
    font-size: 3rem; /* Reduce el tamaño en tablets */
  }
}

@media (max-width: 576px) {
  .header-proyects {
    height: 30vh;
  }

  .title-proyects {
    font-size: 2.5rem; /* Tamaño más pequeño en dispositivos móviles */
  }
}
