h1,
h2,
h3 {
  font-family: 'Special Elite', system-ui;
  font-weight: 400;
  font-style: normal;
}

h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
